.hidden{
    display: none;
}

.daily {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.daily .layer {
    background-color: #000;
    opacity: .5;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
}

.daily .wrap {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px 40px;
    min-width: 46%;
    background-color: #FFF;
    border-radius: 20px;

    font-family: Noto Sans CJK TC;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.16em;
}

.daily img {
    margin-bottom: 24px;
}

.daily p {
    margin-bottom: 16px;
}

.daily button {
    display: inline-block;
    color: #467D1E;
    padding: 13px 30px;
    border-radius: 25px;
    border: 2px solid;
    box-shadow: 0px 3px 5px 0px #0000001A;
    background: none;
    font-family: Noto Sans CJK TC;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.16em;
    text-align: center;
    cursor: pointer;
}

.daily strong {
    font-family: Noto Sans CJK TC;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.16em;
    color: #467D1E;
}

@media screen and (max-width: 768px) {
  .daily .wrap {
    left: 3%;
    right: 3%;
    transform: translateY(-50%);
    padding: 32px 0;
  }
}