.hidden{
    display: none;
}

.daily {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.daily .layer {
    background-color: #000;
    opacity: .5;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
}

.daily .wrap {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px 40px;
    min-width: 46%;
    background-color: #FFF;
    border-radius: 20px;

    font-family: Noto Sans CJK TC;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.16em;
}

.daily img {
    margin-bottom: 24px;
}

.daily p {
    margin-bottom: 16px;
}

.daily button {
    display: inline-block;
    color: #467D1E;
    padding: 13px 30px;
    border-radius: 25px;
    border: 2px solid;
    box-shadow: 0px 3px 5px 0px #0000001A;
    background: none;
    font-family: Noto Sans CJK TC;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.16em;
    text-align: center;
    cursor: pointer;
    transition: background-color .4s;
}

.daily button:hover{
    color: #FFF;
    background-color: #467D1E;
    border-color: #467D1E;
}

.daily strong {
    font-family: Noto Sans CJK TC;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.16em;
    color: #467D1E;
}

.content-title .note svg{
    vertical-align: middle;
    cursor: pointer;
}
.daily-note{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    padding: 2%;
}
.daily-note .content-wrap{
    display: flex;
    gap: 10px;
    z-index: 20;
    position: relative;
}
.daily-note .note-content{
    position: relative;
    max-width: 504px;
    background-color: #FFF;
    padding: 32px 72px 44px;
    border-radius: 20px;
}
.daily-note h2{
    display: inline-block;
    font-family: Noto Sans CJK TC;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.16em;
    color: #467D1E;
    padding-bottom: 8px;
    border-bottom: 1px solid #467D1E;
    margin-bottom: 18px;
}
.daily-note p{
    font-family: Noto Sans CJK TC;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16em;
}
.daily-note .close-button{
    position: relative;
    align-self: flex-start;
    cursor: pointer;
    margin: 0;
}
.daily-note .close-button svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.daily-note .close-button::after{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFF;
}
.daily-note .bg-cover{
    background-color: #00000080;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.daily-note.hidden{
    display: none;
}

@media screen and (max-width: 768px) {
  .daily .wrap {
    left: 3%;
    right: 3%;
    transform: translateY(-50%);
    padding: 32px 0;
  }
  .daily-note .close-button{
      position: absolute;
      right: 14px;
      top: 12px;
  }
  .daily-note .close-button svg{
      position: relative;
  }
  .daily-note .close-button::after{
      display: none;
  }
  .daily-note .note-content{
      padding: 32px 12% 44px;
  }
}