#pendingReviewBtn,
#historyBtn {
  cursor: pointer;
}
.tab {
  margin-bottom: 24px;
}
/* 隐藏表格的样式 */
.table-container {
  display: none;
}
/* 默认显示的表格 */
.active {
  display: block;
}
.active-btn {
  font-weight: bold;
}

td img {
  width: 25px;
}

tbody tr {
  height: 74px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
}

table th {
  background-color: #467d1e;
  color: white;
  text-align: left;
  padding: 8px;
  border: none;
  font-family: "Noto Sans CJK TC";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
}

table td {
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.view-button,
.edit-button {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
table .date {
  color: #467d1e;
}
.status-tag {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.16em;
  gap: 10px;
}

.main_container_part5_child2 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  margin-top: 60px;
}

.main_container_part5_child2 svg:not(:last-child),
.main_container_part5_child2 button:last-child {
  margin-right: 2px;
}

.main_container_part5_child2 button:first-child {
  margin-left: 2px;
}

/*Content With Pagination*/

.main_container_part5_child1_sub2 {
  display: flex;
  width: 100%;
  height: 100%;
  row-gap: 30px;
  flex-wrap: wrap;
  column-gap: 24px;
  justify-content: space-around;
}

.main_container_part5_child1_sub2_block1 {
  display: flex;
  height: 100%;
}

.pageButtons {
  /*margin: 10px 0; */
  display: flex;
  column-gap: 2px;
}

.pageButton {
  /*padding: 5px 10px;
  margin: 2px;
  background-color: #fff;
  border: 1px solid #ccc;*/
  cursor: pointer;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #f0f4f5;
  border: none;
}

.pageButton.active {
  background-color: #467d1e;
  color: white;
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination .gotoFirstPage,
.pagination .gotoBeforePage,
.pagination .gotoNextPage,
.pagination .gotoLastPage {
  cursor: pointer;
}

.pagination button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.main_container_part4_child4_part3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.section .label {
  margin-right: 15px;
  font-weight: bold;
  min-width: 75px;
}

.item span {
  color: rgba(108, 117, 125, 1);
}

.section {
  margin-bottom: 30px;
}

.title {
  margin-bottom: 30px;
}

.processing {
  background-color: #ffb800;
  color: white;
}
.pending {
  background-color: #009efb;
  color: white;
}

.canceled {
  background-color: #e0e0e0;
  color: #757575;
}

.completed {
  background-color: #467d1e;
  color: white;
}

.rejected {
  background-color: red;
  color: white;
}

hr {
  margin-bottom: 22px;
}
/* .modal-content {
  max-width: 660px;
} */

.cancel_Modal_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cancel_Modal_body img {
  margin-bottom: 20px;
}

.button02_n {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 30px;
  gap: 5px;
  max-width: 168px;
  max-height: 50px;
  background: #467d1e;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 32px;
  margin-right: 21px;
  font-weight: bold;
}

.button02_n:hover {
  background-color: #3a6918;
}

.button02_n span {
  color: white;
  font-family: "Noto Sans CJK TC";
  font-size: 14px;
  font-weight: bold;
}

.button02_n svg {
  width: 18px;
  height: 18px;
}
.cancel-button {
}
.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.16em;
  font-family: "Noto Sans CJK TC";
}
#cancel_Modal .modal-title {
  font-size: 16px;
}
.modal-header {
  position: absolute;
}
.close-btn {
  position: relative;
  right: -650px;
  z-index: 99;
}

.form-title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.main_container_part4_child4_sub1_child1 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  align-items: center;
  column-gap: 10px;
}

.main_container_part4_child4_sub1_child1_3 {
  display: flex;
  flex-direction: column;
}

#captcha {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  width: 132px;
  height: 50px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}

#captcha-label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

#speak,
#captcha-regenerate {
  display: block;
  cursor: pointer;
}

#speak img {
  position: relative;
  width: 15px;
  height: 15px;
}

#captcha-regenerate img {
  position: relative;
  width: 15px;
  height: 15px;
}

.gray_strip_below_footer {
  position: relative;
  width: 100%;
  height: 1px;
  background: #7e7e7e;
  border: none;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1em;
  gap: 20px;
  /* 調整按鈕之間的間距 */
}

.return-button {
  max-width: 168px;
  max-height: 50px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 13px 30px;
  gap: 10px;

  background: #ffffff;
  border: 2px solid #467d1e;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  font-family: "Noto Sans CJK TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #467d1e;
  cursor: pointer;
  margin-top: 32px;
  transition: all 0.3s ease;
}

.return-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
}

.button02_n {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 30px;
  gap: 5px;
  max-width: 168px;
  max-height: 50px;
  background: #467d1e;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 32px;
  font-family: "Noto Sans CJK TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.button02_n:hover {
  background-color: #3a6918;
}

.button02_n span {
  color: white;
  font-family: "Noto Sans CJK TC";
  font-size: 14px;
  font-weight: bold;
}

.button02_n svg {
  width: 18px;
  height: 18px;
}

.vI6493 {
  margin-top: 20px;
  background: rgba(236, 242, 232, 1);
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 垂直居中 */
  position: relative;
  /* 相对定位，为绝对定位的参照 */
  white-space: nowrap;
  /* 文本不换行 */
}

.form-check-inner {
  position: absolute;
  /* 绝对定位 */
  left: 50%;
  /* 水平居中 */
  transform: translateX(-50%);
  /* 水平居中 */
  display: flex;
  align-items: center;
}

.form-check-input {
  margin-right: 10px;
  /* 调整复选框与文本之间的间距 */
}

.form-check-label {
  margin: 0;
  /* 清除默认的外边距 */
}

#Modal .modal-dialog {
  max-width: 660px;
  font-family: "Noto Sans CJK TC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16em;
  color: #000000;
}

#edit_Modal .modal-dialog {
  max-width: 660px;
  font-family: "Noto Sans CJK TC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.16em;
  color: #000000;
}

.modal-body-form {
  max-width: 660px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.text-red {
  color: red;
}
.cancel-apply {
  background: #ffffff;
  border: 2px solid #ee0000;
  border-radius: 5px;
  padding: 9px;
  margin-top: 14px;
  color: #ee0000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  letter-spacing: 0.16em;
}

.cancel-button {
  max-width: 168px;
  max-height: 50px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 13px 30px;
  gap: 10px;

  background: #ffffff;
  border: 2px solid #ee0000;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 25px;

  font-family: "Noto Sans CJK TC";
  color: #ee0000;
  cursor: pointer;
  margin-top: 32px;
  transition: all 0.3s ease;
  font-weight: bold;
  font-family: "Noto Sans CJK TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.download {
  background: white;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 9px;
  margin-top: 14px;
  color: #000000;
  gap: 5px;
  cursor: pointer;
  letter-spacing: 0.16em;
}
.result {
  margin-bottom: 15px;
}

.custom-modal-dialog {
  max-width: 500px; /* 最大宽度为父容器的100% */
  word-wrap: break-word; /* 自动换行 */
  overflow-wrap: break-word; /* 支持旧版浏览器 */
  white-space: pre-wrap; /* 保留空格和换行 */
}

@media (max-width: 767px) {
  #pending-review-table-container, #history-table-conatiner {
    overflow-x: auto;
  }
  table {
    width: max-content;
  }
}
