* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.main_container {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.main_container_top_nav_bar {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* Page Content*/

.main_container_part4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  font-family: "Noto Sans CJK TC";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  letter-spacing: 2.24px;
  color: rgb(0 0 0);
}

.main_container_part4_child1 {
  display: flex;
  justify-content: start;
  column-gap: 5px;
}

.main_container_part4_child1 .text1 {
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* h6_medium */
  font-size: 14px;
  font-family: Noto Sans CJK TC;
  font-family: "Noto Sans CJK TC";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  letter-spacing: 2.24px;

  color: rgba(0, 0, 0, 0.5);
}

.main_container_part4_child1 .text2 {
  font-family: "Noto Sans CJK TC";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  /* identical to box height, or 150% */
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  letter-spacing: 2.24px;
  color: rgb(0 0 0);
}

/* * {
  box-sizing: border-box;
} */

/* body {
  font-size: 14px;
} */

.banner {
  width: calc(100vw + 29.02%); /* 100% + 2 * 14.51% 补偿左右 padding */
  position: relative;
  left: -14.51%; /* 向左移动，抵消左侧的 padding */
  margin: 0;
  box-sizing: border-box;
  
  height: 350px;
  display: flex;
  align-items: center;
}

.main-title {
  color: rgba(0, 0, 0, 1);
  font-family: Noto Sans CJK TC;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  margin-top: 20px;
  line-height: 1;
}

.main-title-underline {
  margin-top: 13px;
  width: 252px;
  height: 4px;
  background: rgba(70, 125, 30, 1);
  opacity: 1;
  overflow: hidden;
}

.seperate-line {
  width: 100%;
  opacity: 1;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.social-media-icon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.social-media-icon img {
  margin-left: 10px;
}

.content-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.info-box {
  flex: 1 1 0%;
}

.content-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 620px;
  max-height: 351px;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 15px;
}

.content-info .info-text {
  margin-left: 24px;
  color: rgba(0, 0, 0, 1);
  top: 654px;
  left: 824px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.sub-title {
  color: rgba(0, 0, 0, 1);

  top: 0px;
  left: 0px;
  font-family: Noto Sans CJK TC;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.sub-title-underline {
  margin-top: 13px;
  width: 156px;
  height: 4px;
  background: rgba(70, 125, 30, 1);
  opacity: 1;

  top: 35px;
  left: 0px;
  overflow: hidden;
}

.sub-title-section {
  margin-top: 60px;
  margin-bottom: 28px;
}

.dashed-underline {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 2px dashed lightgray;
  display: block;
}

.content-map {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.content-map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.park-album img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}

.card img {
  height: 258px;
  object-fit: cover;
}

.card-title {
  font-size: 14px;
}

.apply-appointment-container {
  width: 60px;
  height: 161px;
  opacity: 1;
  overflow: hidden;

  position: fixed;
  bottom: 90px;
  right: 0px;
  z-index: 999;

  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  visibility: visible;
  background-color: white;

  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));

  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  border: 2px solid rgba(70, 125, 30, 1);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.apply-appointment-img {
  width: 60px;
  height: 161px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;

  overflow: hidden;
  text-align: center;
  padding-top: 15px;
}

.apply-appointment-title {
  width: 20px;
  color: rgba(70, 125, 30, 1);
  position: absolute;
  top: 50px;
  left: 20px;
  font-family: Noto Sans CJK TC;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.16em;
}

.apply-appointment-name {
  color: #fff;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.notificationswitchsiderbar1_part12 {
  display: flex;
  /* flex-wrap: inherit; */
  white-space: pre-line;
}

.notificationswitchsiderbar1_part12 a {
  color: #fff;
  text-align: center;
  font-family: Noto Sans CJK TC;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 120% */
  letter-spacing: 3.2px;
}

.notificationswitchsiderbar1_part12 {
  display: flex;
  flex-wrap: inherit;
  white-space: normal;
}

.main_container_part4_child3_subchild3_1 {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main_container_part4_child3_subchild3_11 h5 {
  color: #000;
  font-family: Noto Sans CJK TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2.56px;
}

.main_container_part4_child3_subchild3_12 h5 {
  color: #000;
  font-family: Noto Sans CJK TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.56px;
}

.download_btn {
  display: inline-flex;
  width: fit-content;
  padding: 13px 30px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 25px;
  background: #467d1e;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.download_btn_icon {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 1.6px 3.327px 1.6px 4px;
  justify-content: center;
  align-items: center;
}

.download_btn_icon svg {
  width: 100%;
  height: 100%;
  position: relative;
}

.download_btn_text h5 {
  color: #fff;
  text-align: center;
  /* h5_bold */
  font-family: Noto Sans CJK TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2.56px;
}

.btn-outline,
.btn-outline *,
.btn-outline :after,
.btn-outline :before,
.btn-outline:after,
.btn-outline:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-outline {
  background: #fff;
  border-radius: 99rem;
  border-width: 2px;
  -webkit-mask-image: none;
  overflow: hidden;
  padding: 0.8rem 2rem;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.btn-outline span {
  font-family: "Noto Sans CJK TC", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.16em;
  color: #55822d;
}

.btn-outline:hover {
  box-shadow: 0 20px 100px 1px hsla(0, 0%, 100%, 0.2);
  transform: translateY(-4px);
}

.btn-outline svg {
  display: block;
  vertical-align: middle;
}

.btn-outline [hidden] {
  display: none;
}

.modal-body {
  max-width: 505px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-content {
  padding-bottom: 30px;
}
.modal-title {
  font-family: "Noto Sans CJK TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.16em;
  color: #000000;
}

.modal-body img {
  width: 100%;
  max-width: 103px;
  /* 調整圖片的最大寬度 */
  height: auto;
  margin-bottom: 1em;
}

.modal-body-form {
  max-width: 660px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#frame-35642 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  width: 100%;
}

#outdoor-classroom-select {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#outdoor-classroom-select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1em;
  gap: 20px;
  /* 調整按鈕之間的間距 */
}

.return-button {
  max-width: 168px;
  max-height: 50px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 13px 30px;
  gap: 10px;

  background: #ffffff;
  border: 2px solid #467d1e;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  font-family: "Noto Sans CJK TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #467d1e;
  cursor: pointer;
  margin-top: 32px;
  transition: all 0.3s ease;
}

.return-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
}

.button02_n {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 30px;
  gap: 5px;
  max-width: 168px;
  max-height: 50px;
  background: #467d1e;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 32px;
  font-family: "Noto Sans CJK TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.button02_n:hover {
  background-color: #3a6918;
}

.button02_n span {
  color: white;
  font-family: "Noto Sans CJK TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.button02_n svg {
  width: 18px;
  height: 18px;
}

.text-red {
  font-family: "Noto Sans CJK TC";
  color: #ff0000;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.text-green {
  font-family: "Noto Sans CJK TC";
  color: #558c2d;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.form-title {
  font-family: "Noto Sans CJK TC";
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

#Risk_Notification_Modal .modal-dialog {
  max-width: 505px;
  font-family: "Noto Sans CJK TC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.16em;
  color: #000000;
}

#Apply_Appointment_Modal .modal-dialog {
  max-width: 660px;
  font-family: "Noto Sans CJK TC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.16em;
  color: #000000;
}

.main_container_part4_child4_sub1_child1 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  align-items: center;
  column-gap: 10px;
}

.main_container_part4_child4_sub1_child1_3 {
  display: flex;
  flex-direction: column;
}

#captcha {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  width: 132px;
  height: 50px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}

#captcha-label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

#speak,
#captcha-regenerate {
  display: block;
  cursor: pointer;
}

#speak img {
  position: relative;
  width: 15px;
  height: 15px;
}

#captcha-regenerate img {
  position: relative;
  width: 15px;
  height: 15px;
}

.gray_strip_below_footer {
  position: relative;
  width: 100%;
  height: 1px;
  background: #7e7e7e;
  border: none;
}

.vI6493 {
  background: rgba(236, 242, 232, 1);
  width: calc(100% + 60px); /* 扩展宽度，弥补负 margin */
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  white-space: normal;
  margin: 20px -30px 0 -30px; /* 负 margin 确保背景超出容器 */
  padding: 10px; /* 内边距保持内容在背景内 */
  box-sizing: border-box; /* 包含 padding 在内的宽度计算 */
  letter-spacing: 0em;
  text-align: center;
}

.form-check-inner {
  display: flex;
  justify-content: center; /* 水平居中内容 */
  align-items: center; /* 垂直居中内容 */
  width: 100%; /* 确保内层容器宽度 */
}

.form-check-input {
  margin-right: 10px;
}

.form-check-label {
  margin: 0;
}
.apply-btn {
  display: none; /* 隐藏按钮 */
  margin-top: 50px;
  border-radius: 15px; /* 简化了四个角的圆角设置 */
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); /* 修正了 rgba 的透明度 */
  border: 1px solid rgba(70, 125, 30, 1); /* 添加了边框样式，之前缺少 solid 或其他边框类型 */
  background-color: white;
  width: 76.34%;
  height: 60px;
  margin: 50px auto 0 auto;
  color: rgba(70, 125, 30, 1);
}

.img-thumbnail {
  width: 100%; /* 使图片宽度占满父容器 */
  aspect-ratio: 1 / 1; /* 强制图片保持1:1比例，即正方形 */
  object-fit: cover; /* 保持图片比例并填充正方形 */
}

#imageModal .modal-dialog {
  max-width: 50%;
}

#imageModal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
  padding: 0px;
  background-color: transparent;
}

#imageModal .modal-body {
  max-width: 900px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#imageModal .modal-body img {
  max-width: 100%;
  max-height: 100vh;
  object-fit: contain; /* Ensure the image is scaled correctly */
}

.page-container {
  margin: 0px auto auto;
  padding: 0 15px;
  max-width: 1300px;
  width: 100%;
}

/* 當螢幕寬度小於768px時 */
@media (max-width: 768px) {
  .main_container {
    width: 100%;
    flex-direction: column;
  }

  .content-info img {
    width: 100%;
    height: auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* 當螢幕寬度小於480px時 */
@media (max-width: 480px) {
  .main_container {
    width: 100%;
    flex-direction: column;
  }

  .main_container_part4_child1 {
    display: none;
  }

  .page-container {
    margin: 0px auto auto;
    padding: 0 15px;
    max-width: 100%;
  }

  .social-media-icon {
    display: none;
  }

  .content-info {
    flex-direction: column;
    max-width: 100%;
  }

  .content-info img {
    width: 100%;
    max-height: 203px;
    margin-bottom: 35px;
    margin-right: 1rem;
    overflow: hidden;
  }

  .content-info .info-text {
    max-width: 100%;
  }

  .apply-btn {
    display: block;
  }

  #imageModal .modal-dialog {
    max-width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .carousel-inner img {
    width: 100%;
    height: auto;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .apply-appointment-container {
    display: none;
  }

  .vI6493 {
    font-size: 14px; /* 调整为适合小屏幕的字体大小 */
  }

  .form-check-label {
    font-size: 14px; /* 调整标签的字体大小 */
  }
}
@media (max-width: 480px) {
  .main_container_part4 {
    margin-top: unset;
  }
}

.banner-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: auto!important;
}

.banner {
  /* width: 100%; */
  overflow: hidden;
}

.banner img {
  max-width: none;
  height: auto;
  animation: slideRight 30s linear infinite; /* 调整时间以改变滚动速度 */
  max-height: 100%;
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 100vw)); /* 滚动到图片末尾，留下一个视口宽度 */
  }
}

/* 当用户悬停时暂停动画 */
.banner-container:hover .banner img {
  animation-play-state: paused;
}

div[data-content]{
  min-height: 21px;
}

div[data-content="ClassName"]{
  min-height: 32px;
}

div[data-content="Class_OpenDay"]{
  min-height: 147px;
}

div[data-content="Class_Pic"]{
  min-height: 238px;
}