* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main_container {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.main_container_top_nav_bar {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* Page Content*/

.main_container_part4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.main_container_part4_child1 {
  display: flex;
  justify-content: start;
  column-gap: 5px;
}

.main_container_part4_child1 .text1 {
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* h6_medium */
  font-size: 14px;
  font-family: Noto Sans CJK TC;
  font-family: 'Noto Sans CJK TC';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  letter-spacing: 2.24px;

  color: rgba(0, 0, 0, 0.5);
}

.main_container_part4_child1 .text2 {
  font-family: 'Noto Sans CJK TC';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  /* identical to box height, or 150% */
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  letter-spacing: 2.24px;
  color: rgb(0 0 0);
}

.main_container_part4_child2 {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top: 20px;
}

.main_container_part4_child2_1 img {
  position: relative;
  width: auto;
  height: auto;
}

.main_container_part4_child2_2 img {
  position: relative;
  width: auto;
  height: auto;
  top: 3rem;
  left: 1.7rem;
}







.main_container_part4_child1 {
  padding-left: 180px;
  padding-right: 180px;
}

@media screen and (max-width: 1000px) {
  .main_container_part4_child1 {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media screen and (max-width: 800px) {
  .main_container_part4_child1 {
    padding-left: 60px;
    padding-right: 60px;
  }

}

@media screen and (max-width: 750px) {
  .main_container_part4_child1 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 435px) {
  .main_container_part4_child1 {
    padding-left: 15px;
    padding-right: 5px;
  }

}



/*Advanced_Screening_Teaching*/

.main_container_part4_child3 {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url(../asset/images/Fun_Outdoor_Teaching_Classroom_Map_Detail/backgrongimg.png);
  background-size: cover;
  background-repeat: no-repeat;
}


.main_container_part4_child3_subchild1 {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title_text_main {
  color: #000;
  font-family: Noto Sans CJK TC;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  /* 150% */
  letter-spacing: 5.12px;
}


.title_main-menu-itemhr {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title_main-menu-itemhr-part1 {
  display: flex;
  width: 252px;
  height: auto;
}

.title_main-menu-itemhr-part2 {
  display: flex;
  width: 100%;
  height: 1px;
}

.title_main-menu-itemhr-line1 {
  background: #467D1E;
  border: none;
  height: 5px;
  width: 252px;
}

.title_main-menu-itemhr-line2 {
  background: #7e7e7e;
  border: none;
  height: 1px;
  width: 100%;
}


.main_container_part4_child3_subchild2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 10px;

}

.main_container_part4_child3_subchild2_1 {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  column-gap: 4px;
  flex-wrap: wrap;
  row-gap: 5px;
  flex-wrap: wrap;
}

.main_container_part4_child3_subchild2_2 {
  display: flex;
  height: 100%;
  width: 200px;
  flex-direction: row;
  column-gap: 4px;
  flex-wrap: wrap;
  row-gap: 5px;
  flex-wrap: wrap;
  justify-content: end;
}

.frequest_search1 {
  display: flex;
  padding: 3px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid var(--color-01, #467D1E);
  background: #FFF;
}

.frequest_search1 span {
  color: #467D1E;
  font-family: Noto Sans CJK TC;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.24px;
}

.main_container_part4_child3_subchild3 {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 15px;
  row-gap: 20px;
}

.main_container_part4_child3_subchild3_1 {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main_container_part4_child3_subchild3_11 h5 {
  color: #000;
  font-family: Noto Sans CJK TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2.56px;
}

.main_container_part4_child3_subchild3_12 h5 {
  color: #000;

  /* h5 */
  font-family: Noto Sans CJK TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.56px;
}

.main_container_part4_child3_subchild4 {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.download_btn {
  display: inline-flex;
  width: fit-content;
  padding: 13px 30px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 25px;
  background: #467D1E;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.10);
}

.download_btn_icon {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 1.6px 3.327px 1.6px 4px;
  justify-content: center;
  align-items: center;
}

.download_btn_icon svg {
  width: 100%;
  height: 100%;
  position: relative;
}

.download_btn_text h5 {
  color: #FFF;
  text-align: center;
  /* h5_bold */
  font-family: Noto Sans CJK TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2.56px;
}

.main_container_part4_child3_subchild5 {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/*Information Slider*/

.informationcontainer {
  position: relative;
  width: 100%;
  margin: 20px auto;
  overflow-x: hidden;
}

.informationinformationtabs {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.informationtab {
  cursor: pointer;
  padding: 10px 20px;
  background-color: transparent;
  margin-right: 5px;
  position: relative;
}

.informationtabnew1 {
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 5px;
  position: relative;
  background-color: #EF7E0C;
  color: #fff;
}

.informationtabnew2 {
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 5px;
  position: relative;
  background-color: #8c8c8c;
  color: #fff;
}

.informationgreen-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: green;
  width: 0;
  transition: width 0.3s, left 0.3s;
  z-index: 1;
}

.informationblack-line {
  position: absolute;
  bottom: 1.5px;
  left: 0;
  height: 2px;
  background-color: black;
  width: 100%;
}

.information_detail_content1-info h5,
.information_detail_content2-info h5,
.information_detail_content3-info h5,
.information_detail_content4-info h5,
.information_detail_content5-info h5,
.information_detail_content6-info h5,
.information_detail_content7-info h5,
.information_detail_content8-info h5 {
  color: #000;

  /* h5 */
  font-family: Noto Sans CJK TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 2.56px;
}


.information_detail_content1-info,
.information_detail_content2-info,
.information_detail_content3-info,
.information_detail_content4-info,
.information_detail_content5-info,
.information_detail_content6-info,
.information_detail_content7-info,
.information_detail_content8-info {
  display: none;
}

.information_detail_content1-info,
.information_detail_content2-info,
.information_detail_content3-info,
.information_detail_content4-info,
.information_detail_content5-info,
.information_detail_content6-info,
.information_detail_content7-info,
.information_detail_content8-info {
  display: none;
  position: relative;
  /* Add this property to position the content divs */
  left: 0;
  /* Add this property to set the initial left position */
  width: 100%;
  /* Add this property to occupy the full width */
  transition: left 0.1s;
  /* Add this transition for the left property */
  white-space: pre-line;
  margin-top: 30px;
  flex-direction: column;
}

.active-info {
  display: flex;
}

.referrence_download_main {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.referrence_download_link {
  display: inline-flex;
  cursor: pointer;
  padding: 13px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  border: 2px solid #467D1E;
  background: #FFF;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.10);
  width: fit-content;
}

.referrence_download_link span {
  color: #467D1E;
  /* h5_bold */
  font-family: Noto Sans CJK TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2.56px;
  text-decoration-line: underline;
}

.main_container_part4_child3_subchild6 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.informationinformationtabs1 {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  /* Center the content horizontally */
}

.main_container_part4_child3_subchild6_part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* Occupy the full width */
}

.informationtab1 {
  cursor: pointer;
  padding: 10px 20px;
  background-color: transparent;
  position: relative;
}

.informationgreen-line1 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: green;
  width: 0;
  transition: width 0.3s, left 0.3s;
  z-index: 1;
}

.informationblack-line1 {
  position: absolute;
  bottom: 1.5px;
  left: 0;
  height: 2px;
  background-color: black;
  width: 100%;
}

.informationcontentslider_title {
  color: #000;
  text-align: center;
  /* h3 */
  font-family: Noto Sans CJK TC;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /* 150% */
  letter-spacing: 3.84px;
}

.main_container_part4_child3_subchild6_part2 {
  padding-top: 30px;
}

/*Popup QR*/



@media screen and (max-width: 430px) {}

.main_container_part4_child3_subchild5_title_img {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.main_container_part4_child3_subchild5_title_img img {
  width: 380px;
  height: 55px;
}

/*Information Tab*/
/*Information Slider*/

.informationcontainer {
  position: relative;
  width: 100%;
  margin: 20px auto;
  overflow-x: hidden;
}

.informationinformationtabs {
  position: relative;
  display: flex;
  align-items: center;
}

.informationtab {
  cursor: pointer;
  padding: 10px 20px;
  background: #66A00A;
  margin-right: 5px;
  position: relative;
  font-weight: 400;
  color: #ffffff;
}

.informationtab:hover {
  background: #55822D;
}

.informationgreen-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: #66A00A;
  width: 0;
  transition: width 0.3s, left 0.3s;
  z-index: 1;
}

.informationblack-line {
  position: absolute;
  bottom: 1.5px;
  left: 0;
  height: 2px;
  background-color: transparent;
  width: 100%;
}

.information_detail_content1-info h5,
.information_detail_content2-info h5,
.information_detail_content3-info h5,
.information_detail_content4-info h5,
.information_detail_content5-info h5,
.information_detail_content6-info h5,
.information_detail_content7-info h5,
.information_detail_content8-info h5 {
  color: #000;

  /* h5 */
  font-family: Noto Sans CJK TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 2.56px;
}


.information_detail_content1-info,
.information_detail_content2-info,
.information_detail_content3-info,
.information_detail_content4-info,
.information_detail_content5-info,
.information_detail_content6-info,
.information_detail_content7-info,
.information_detail_content8-info {
  display: none;
}

.information_detail_content1-info,
.information_detail_content2-info,
.information_detail_content3-info,
.information_detail_content4-info,
.information_detail_content5-info,
.information_detail_content6-info,
.information_detail_content7-info,
.information_detail_content8-info {
  display: none;
  position: relative;
  /* Add this property to position the content divs */
  left: 0;
  /* Add this property to set the initial left position */
  width: 100%;
  /* Add this property to occupy the full width */
  transition: left 0.1s;
  /* Add this transition for the left property */
  white-space: pre-line;
  margin-top: 0px;
}

.active-info {
  display: flex;
}

.referrence_download_main {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.referrence_download_link {
  display: inline-flex;
  cursor: pointer;
  padding: 13px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  border: 2px solid #467D1E;
  background: #FFF;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.10);
  width: fit-content;
}

.referrence_download_link span {
  color: #467D1E;
  /* h5_bold */
  font-family: Noto Sans CJK TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2.56px;
  text-decoration-line: underline;
}

.main_container_part4_child3_subchild6 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.informationinformationtabs1 {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  /* Center the content horizontally */
}

.main_container_part4_child3_subchild6_part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* Occupy the full width */
}

.informationtab1 {
  cursor: pointer;
  padding: 10px 20px;
  background-color: transparent;
  position: relative;
}

.informationgreen-line1 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: green;
  width: 0;
  transition: width 0.3s, left 0.3s;
  z-index: 1;
}

.informationblack-line1 {
  position: absolute;
  bottom: 1.5px;
  left: 0;
  height: 2px;
  background-color: black;
  width: 100%;
}

.informationcontentslider_title {
  color: #000;
  text-align: center;
  /* h3 */
  font-family: Noto Sans CJK TC;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /* 150% */
  letter-spacing: 3.84px;
}

.main_container_part4_child3_subchild6_part2 {
  padding-top: 30px;
}

.informationtab.active {
  background: #fff;
  border: solid #66A00A;
  color: #000;

}

.informationtab h4 {
  font-weight: 400;
}

/*Image Slider*/

.introimage {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.sample-slider {
  width: 100%;
  height: 250px;
  margin: 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: baseline;
}

.swiper-wrapper {
  width: 100%;
  height: 250px;
}

.swiper-slide {
  width: 100%;
  height: 250px;
}

.swiper-slide img {
  width: 100%;
  height: 250px;
  vertical-align: middle;
  object-fit: cover;
}

.swiper-pagination {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 0;
  margin-top: 20px;

}

.swiper-pagination-bullet {

  width: 30px;
  height: 30px;
  background: #FFF;
  color: #16b2cc;
  opacity: 0.7;
  border-radius: 25%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  color: #FFF;
  background: #16b2cc;
}

/*Tab 1 detail*/
.detail_content_main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 25px;
}

.detail_content_main1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.detail_content_main_part1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  column-gap: 20px;
  align-items: center;
  padding-left: 20px;
}

.detail_content_main_part11 img {
  width: 29.5px;
  height: 28.7px;
}

.detail_content_main_title {
  font-size: 1.500em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.detail_content_main_part12 h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.dashed {
  border: none;
  background: transparent;
  border-top: 3px dashed #cccccc;
  height: 0;
  color: transparent;
  width: 100%;
}

.detail_content_main_part3 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
}

.class-times {
 flex-direction: column;
}

.detail_content_main_part31 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.detail_content_main_part32 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
  justify-content: center;
}

.detail_content_main_part3_content {
  font-family: '微軟正黑體', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif !important;
  font-style: normal;
  font-size: 1.0em !important;
  font-size: 1.2em;
}

.detail_content_main_part32 {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
}

.detail_content_main_part32 img {
  width: 200px;
  height: 373px;

}

.detail_content_main_part33 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.detail_content_main_part331 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.detail_content_main_part11 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

/*detail_content_main_2*/

.detail_content_main_2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 25px;
  background-color: rgba(255, 255, 255, 0.85);
}

.detail_content_main_2_columns {
  column-width: 240px;
  column-gap: 10px;
  width: 95%;
  margin: 1rem auto;
  text-align: center;
}

div.detail_content_main_2_columns .column {
  float: center;
}

div.detail_content_main_2_columns figure {
  background: #fff;
  border: 0.5pt solid #66A00A;
  margin: 0 2px 15px;
  padding: 10px;
  padding-bottom: 5px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  border-radius: 4px;
  width: 214px;
  text-align: left;
}

div.detail_content_main_2_columns figure {
  background: #fff;
  border: 0.5pt solid #66A00A;
  margin: 0 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  border-radius: 4px;
  width: 214px;
  text-align: left;
}

.detail_content2_part_title {
  width: 100%;
  text-align: center;
  color: green;
  font-size: 1.2em;
}

.detail_content2_part_content1 {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  column-gap: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0;
}

.detail_content2_part_content1_detail {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.detail_content2_part_content1_img {

  max-width: 180px;
  max-height: 180px;
}


/*detail_content_main_2*/

.detail_content_main_3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 25px;
  background-color: rgba(255, 255, 255, 0.85);
}

.detail_content_main_3_part1 {
  display: flex;
  width: 100%;
  height: 100vh;
}


/*4*/

.detail_content_main4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.detail_content_main41 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  padding-top: 20px;
}

.detail_content_main4_part1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  column-gap: 20px;
  align-items: center;
}

.detail_content_main4_part11 {
  display: flex;
}

.detail_content_main4_part11 img {
  width: 29.5px;
  height: 28.7px;
}

.detail_content_main4_title {
  font-size: 1.500em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.detail_content_main4_part12 h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.dashed {
  border: none;
  background: transparent;
  border-top: 3px dashed #cccccc;
  height: 0;
  color: transparent;
  width: 100%;
}

.detail_content_main4_part3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
}

.detail_content_main4_part31 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.detail_content_main4_part31map {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.detail_content_main4_part32 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
}

.detail_content_main4_part3_content {
  font-family: '微軟正黑體', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif !important;
  font-style: normal;
  font-size: 1.0em !important;
  font-size: 1.2em;
}

.detail_content_main4_part32 {
  width: 200px;
  height: 373px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
}

.detail_content_main4_part32 img {
  width: 200px;
  height: 373px;

}

.detail_content_main4_part33 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.detail_content_main4_part331 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.detail_content_main4_part314 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.detail_content_main4_part3141 {
  display: flex;
  flex-basis: 50%;
}

.detail_content_main4_part3142 {
  display: flex;
  flex-basis: 50%;
}

.detail_content_main4_part311 {
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
}

.detail_content_main4_part312 {
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
}


@media screen and (max-width: 750px) {
  .detail_content_main4_part314 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}



/*5*/

.detail_content_main5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.detail_content_main51 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  padding-top: 20px;
}

.detail_content_main5_part1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  column-gap: 20px;
  align-items: center;
}

.detail_content_main5_part11 {
  display: flex;
}

.detail_content_main5_part11 img {
  width: 29.5px;
  height: 28.7px;
}

.detail_content_main5_title {
  font-size: 1.500em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.detail_content_main5_part12 h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.dashed {
  border: none;
  background: transparent;
  border-top: 3px dashed #cccccc;
  height: 0;
  color: transparent;
  width: 100%;
}

.detail_content_main5_part3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
}

.detail_content_main5_part31 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.detail_content_main5_part31map {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.detail_content_main5_part32 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
}

.detail_content_main5_part3_content {
  font-family: '微軟正黑體', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif !important;
  font-style: normal;
  font-size: 1.0em !important;
  font-size: 1.2em;
}

.detail_content_main5_part32 {
  width: 200px;
  height: 373px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
}

.detail_content_main5_part32 img {
  width: 200px;
  height: 373px;

}

.detail_content_main5_part33 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.detail_content_main5_part331 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.detail_content_main5_part314 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.detail_content_main5_part3141 {
  display: flex;
  flex-basis: 50%;
}

.detail_content_main5_part3142 {
  display: flex;
  flex-basis: 50%;
}

.detail_content_main5_part311 {
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
}

.detail_content_main5_part312 {
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
}

/*6*/
.detail_content_main6 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.detail_content_main61 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  padding-top: 20px;
}

.detail_content_main6_part1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  column-gap: 20px;
  align-items: center;
}

.detail_content_main6_part11 {
  display: flex;
}

.detail_content_main6_part11 img {
  width: 29.5px;
  height: 28.7px;
}

.detail_content_main6_title {
  font-size: 1.500em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.detail_content_main6_part12 h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.dashed {
  border: none;
  background: transparent;
  border-top: 3px dashed #cccccc;
  height: 0;
  color: transparent;
  width: 100%;
}

.detail_content_main6_part3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
}

.detail_content_main6_part31 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.detail_content_main6_part31map {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.detail_content_main6_part32 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
}

.detail_content_main6_part3_content {
  font-family: '微軟正黑體', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif !important;
  font-style: normal;
  font-size: 1.0em !important;
  font-size: 1.2em;
}

.detail_content_main6_part32 {
  width: 200px;
  height: 373px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
}

.detail_content_main6_part32 img {
  width: 200px;
  height: 373px;

}

.detail_content_main6_part33 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.detail_content_main6_part331 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.detail_content_main6_part314 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.detail_content_main6_part3141 {
  display: flex;
  flex-basis: 50%;
}

.detail_content_main6_part3142 {
  display: flex;
  flex-basis: 50%;
}

.detail_content_main6_part311 {
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
}

.detail_content_main6_part312 {
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
}

@media (min-width: 401px) {
  .photosX li {
    width: 20%;
    padding-top: 20%;
  }
}

.photosX li {
  position: relative;
  height: 0;
  float: left;
}

.photosX a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border: 6px solid transparent;
  text-align: center;
  text-decoration: none;
  font-size: 2.0em;
  color: #ccc;
}

.photosX a:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.photosX img {
  font-size: 0.5em;
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.photofade {
  opacity: 1;
  transition: opacity 0.25s ease-in-out 0s;
}

@media (min-width: 401px) {

  .photosX li:nth-child(24n+4),
  .photosX li:nth-child(24n+13) {
    width: 40%;
    padding-top: 40%;
  }
}

@media (min-width: 401px) {

  .photosX li:nth-child(24n+5),
  .photosX li:nth-child(24n+7),
  .photosX li:nth-child(24n+9) {
    margin-top: -20%;
  }
}

@media (max-width: 400px) {
  .photosX li {
    width: 25%;
    padding-top: 25%;
  }
}

@media (max-width: 400px) {

  .photosX li:nth-child(18n+3),
  .photosX li:nth-child(18n+10) {
    width: 50%;
    padding-top: 50%;
  }
}

@media (max-width: 400px) {

  .photosX li:nth-child(18n+4),
  .photosX li:nth-child(18n+6),
  .photosX li:nth-child(18n+17),
  .photosX li:nth-child(18n+19) {
    margin-top: -25%;
  }
}

/*8*/

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-repeat:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../asset/images/Fun_Outdoor_Teaching_Classroom_Map_Detail/refresh_reload.png') no-repeat;
  background-size: cover;
  filter: invert(1);
}

.backtomainpagediv {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  align-items: center;
}



/*Menu Mobile Version*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.mapmobile_menu_accordion {
  width: 100%;
  /* max-width: 1000px; */
}

.mapmobile_menu_accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.mapmobile_menu_accordion-item-header {
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  font-size: 1.2em;
  height: 45px;
  padding: 10px;
  background-color: white;
  color: #66A00A;
  text-align: center;
  border: 1px solid #66A00A;
  cursor: pointer;
  display: flex;
  justify-content: center;
}



.mapmobile_menu_accordion-item-headerreferllike {
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  font-size: 1.2em;
  height: 45px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: #EF7E0C;
  color: white;
  text-align: center;
  border: 1px solid #EF7E0C;
}

.mapmobile_menu_accordion-item-headerbacktomain {
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  font-size: 1.2em;
  height: 45px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
  text-align: center;
  border: 1px solid gray;
}

.mapmobile_menu_accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.mapmobile_menu_accordion-item-headerreferllike::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.mapmobile_menu_accordion-item-headerbacktomain::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.mapmobile_menu_accordion-item-header.activemobilemenu::after {
  content: "\2212";
}

.mapmobile_menu_accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.mapmobile_menu_accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.activemobilemenu {
  width: 100%;
  font-size: 1.2em;
  height: 45px;
  padding: 10px;
  background-color: #66A00A;
  color: white;
  text-align: center;
}
