/* The Modal (background) */
#modal-easter-eggs .modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
#modal-easter-eggs .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close-btn {
  color: white;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.easter-eggs-task {
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 900;
}

.easter-eggs-task a {
  width: 60px;
  height: 85px;
  display: table;
  text-align: center;
}

.easter-eggs-task a #easter-eggs-img {
  width: 70px;
  height: 85px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  position: relative;
}

*:focus,
input:hover{
  background: #cfffa858;
}

*:focus-visible,
select:hover{
  outline-offset: 2px;
  outline-color: #89b95c;
  outline-style: dashed;
  outline-width: 2px;
}