<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="php FastCgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php-8.2.6-nts-Win32-vs16-x64\php-cgi.exe" resourceType="Either" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".unityweb" mimeType="application/octec-stream" />
            <mimeMap fileExtension=".unity3d" mimeType="application/octec-stream" />
        </staticContent>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4048576000" />
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
            </customHeaders>
        </httpProtocol>
            <httpErrors errorMode="Detailed">
            <error statusCode="403" subStatusCode="4" path="https://learning.ardswc.gov.tw" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
    <location path="promotional.html">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://learning.ardswc.gov.tw" />
        </system.webServer>
    </location>
</configuration>
